header {
  background-color: $kingston-dark-blue;
  //border-bottom: 4px solid $kingston-mid-blue;
  color: $white;
  position: relative;

  &:before {
    bottom: 5px;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
  }

  &:after {
    bottom: -11px;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
  }

  @include media(mobile) {

    &:before { display: none }
    &:after { display: none }

    a {
      h2 { padding-bottom: 1px; }
    }
  }

  h1 {
    background-size: contain;
    -ms-behavior: url(/backgroundsize.htc);
    display: inline-block;
    height: 62px;
    text-indent: 10%;
    vertical-align: bottom;
    white-space: nowrap;
    width: 300px;
    color: white;
    font-weight: 700;
    font-size: 3em;

    @include media(mobile) {
      height: 35px;
      width: 170px;
      font-size: 1.7em;
    }
  }

  a, a:link, a:visited, a:hover {
    color: $white;
    text-decoration: none;
  }

  h2 {
    @include heading-24;
    display: inline-block;
    margin-left: $gutter-half;
    vertical-align: bottom;
  }
  .site-header__logo {
    color: #162655;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    height: 239px;

    @include media(mobile) {
      height: 104px;
    }
  }
}
